body.index {
  background-image: url(imgs/mansion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body.game {
  background-image: url(imgs/suspects-bg.avif);
  padding-top: 55px;
}

body.evelyn {
  background-color: black;
  padding-top: 95px;
}

body.daniel {
  background-color: black;
  padding-top: 95px;
}

body.claire {
  background-color: black;
  padding-top: 95px;
}

body.carlos {
  background-color: black;
  padding-top: 95px;
}

body.ava {
  background-color: black;
  padding-top: 95px;
}

body.thomas {
  background-color: black;
  padding-top: 95px;
}

.fade-in-text {
  font-family: Arial;
  font-size: 150px;
  animation: fadeIn 5s;
}

.cement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  font-size: 100px;
  text-align: center;
  font-family: "pf-fuel-decay";
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: fadeIn 6s;
  padding-top: 80px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  color: white;
  text-align: center;
  font-size: 120px;
  font-family: "fleur";
  font-weight: 700;
  font-style: normal;
}

h3 {
  color: white;
}

.fade-in-text-larger {
  font-size: 200px;
  text-align: center;
  font-family: "pf-fuel-decay";
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: fadeIn 6s;
  margin-top: 70px;
  padding-bottom: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.start {
  align-self: center;
  background-color: red;
  padding: 10px 20px;
  display: block;
  margin: auto;
}

.start {
  align-self: center;
  background-color: red;
  padding: 10px 20px;
  display: block;
  margin: auto;
}

.start:hover {
  align-self: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: block;
  margin: auto;
}

/* character buttons */

.button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
}

.character-button {
  background: none;
  border: none;
  cursor: pointer;
}

.button-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.character-button:hover .button-image {
  transform: scale(1.1);
}

.column {
  float: left;
  width: 16.66%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
