body.index {
  background-image: url(imgs/suspects-bg.avif);
}

body.game {
  background-image: url(imgs/suspects-bg.avif);
  padding-top: 55px;
}

body.evelyn {
  background-color: black;
  padding-top: 95px;
}

body.emily {
  background-color: black;
  padding-top: 95px;
}

body.claire {
  background-color: black;
  padding-top: 95px;
}

body.carlos {
  background-color: black;
  padding-top: 95px;
}

body.ava {
  background-color: black;
  padding-top: 95px;
}

body.thomas {
  background-color: black;
  padding-top: 95px;
}

body.guess {
  background-image: url(imgs/suspects-bg.avif);
  padding-top: 95px;
}

#guessForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
}

#guessForm label {
  display: flex;
  align-items: center;
  justify-content: center; /* center the name */
  width: 200px;
  margin: 5px 0;
}

.cement {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-text {
  font-size: 100px;
  text-align: center;
  font-family: "fleur";
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: fadeIn 6s;
  padding-top: 80px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  color: white;
  text-align: center;
  font-size: 120px;
  font-family: "fleur";
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: white;
  text-align: center;
  font-size: 260px;
  font-family: "fleur";
  font-weight: 700;
  font-style: normal;
  padding-bottom: 6%;
}

h3 {
  color: white;
  padding-top: 20%;
}

.fade-in-text-larger {
  font-size: 300px;
  text-align: center;
  font-family: "fleur";
  font-weight: 400;
  font-style: normal;
  color: white;
  animation: fadeIn 6s;
  margin-top: 30px;
  padding-bottom: 50px;
}

h6 {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "fleur";
  font-weight: 700;
  font-style: normal;
}

h4 {
  color: white;
  text-align: center;
  font-size: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-button text-center my-4 {
  color: red;
}

/* Character Buttons */

.button-container {
  padding: 20px 0;
}

.character-button {
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.button-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.character-button:hover .button-image {
  transform: scale(1.1);
}

/* Character Buttons End*/

/* Button Styling */

.holographic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.holographic-card {
  width: 150px;
  height: 60px;
  background: rgb(92, 28, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.holographic-card button {
  font-size: 15px;
  position: relative;
  z-index: 2;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "the-seasons";
  font-weight: 400;
  font-style: normal;
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(181, 76, 207, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(181, 76, 207, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/* Button Styling Ends*/

/* Button Styling Part 2 Starts*/

.holographic-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
}

.holographic-card2 {
  width: 300px;
  height: 60px;
  background: rgb(92, 28, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.holographic-card2 button {
  font-size: 20px;
  position: relative;
  z-index: 2;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-family: "the-seasons";
  font-weight: 400;
  font-style: normal;
}

.holographic-card2::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(181, 76, 207, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 1;
}

.holographic-card2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(181, 76, 207, 0.5);
}

.holographic-card2:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
